%m-header {
  width: 100%;
  background-color: $header-background-color;
  color: $header-text-color;
  @include shadow-2dp();
}

.m-header {
  @extend %m-header;
  height: 64px;
}

.m-header--tall {
  @extend %m-header;
  height: 144px;
}
