.m-scroll-list {
  padding: 0;
  max-height: 500px;
  overflow-x: scroll;
}

.m-scroll-list__title-wrapper {
  background-color: $color-theme-accent;
  padding: 12px;
  @include shadow-2dp();
}

.m-scroll-list__title {
  @extend %typo-headline;
  color: white;
  margin: 0;
}
