%m-nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: white;
  color: $banner-text-color;
  align-items: center;
  @include shadow-2dp();
}

.m-nav {
  @extend %m-nav;
  height: $header-height--skinny;
}

.m-nav--tall {
  @extend %m-nav;
  height: $header-height--tall;
}

.m-nav__list {
  display: flex;
  margin: 0;
  height: 100%;
}

.m-nav__list-item {
  display: flex;
  margin: 0;
  align-items: center;
}

.m-nav__list-link {
  @extend %typo-button;
  padding: 8px 24px;
  border-radius: 2px;
  transition: all 0.3s;
  color: $color-text-links;
  position: relative;
  line-height: calc(#{$header-height--skinny} - 16px);
  &:hover, &:focus {
    background-color: rgba(0,0,0, 0.07);
    text-decoration: none;
    color: $color-text-links;
  }
}

.m-nav__list-link--active {
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $color-text-links;
    height: 4px;
    width: 100%;
  }
}
