.card-row {
  display: flex;
  flex-wrap: wrap;
}

%card {
  width: 100%;
  @include shadow-2dp();
  padding: 24px;
  border-radius: 3px;
  margin-bottom: 24px;
}

.card__wrapper {
  display: flex;
}

.card {
  display: flex;
  flex-wrap: wrap;
  @extend %card;
}

.card__title {
  @extend %typo-headline;
  margin-top: 0;
  margin-bottom: 8px;
  color: $color-text-dark;
}

.card__subtitle {
  @extend %typo-body-2;
  color: $color-text-light;
}

.card__text {
  @extend %typo-body-2;
  color: $color-text-normal;
}

.card__actions-wrapper {
  align-self: flex-end;
}

.card__action {
  @extend %typo-button;
  padding: 8px;
  border-radius: 2px;
  transition: all 0.3s;
  &:hover, &:focus {
    background-color: rgba(0,0,0, 0.07);
    text-decoration: none;
  }
}
